@font-face {
    font-family: wiiu-font;
    src: url(../CafeStd.ttf);
}

html, body {
    margin: 0;
    font-family: wiiu-font;
    font-weight: 900;
    padding: 0px;
    background-image: url("../img/bg.png");
}

#mii-info {
    position: fixed;
    top: 8px;
    left: 8px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(50,50,50,0.5);
    border: 2px solid rgba(50,50,50,0.8);
    height: 64px;
}

#mii-info #mii-image {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    display: block;
}


#mii-info #mii-name {
    font-size: 18px;
    display: block;
    color: white;
    margin-top: -46px;
    margin-left: 72px;
}
